.navbar-brand {
    padding-top: 5px;
}

.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}
.ui.vertical.navbar.menu{
    background: red;
    margin-left:10px !important;
}
